*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c47;
}

a {
  text-decoration: none;
  color: inherit; /* цвет наследуется у родителя */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
}

header::before {
  content: '';
  position: absolute;
  background-image: url(../images/header-decor.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(35%);
  z-index: 2;
}

header::after {
  content: '';
  position: absolute;
  background-image: url(../images/header-decor.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 57px 0;
  gap: 100px;
  justify-content: flex-end;
  /* common values for btn and tel  */
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093a1;
  transition: fill 0.3s ease;
}

.header__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 12px 71px;
  background-color: #262c27;
  border: none;
  cursor: pointer;
}

.header__content {
  /* -height our header__top */
  min-height: calc(100vh - 161px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content-box {
  max-width: 550px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  /* // common for text */
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.header__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 71px;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}

.header__decore-text {
  position: absolute;
}
