*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c47;
}

a {
  text-decoration: none;
  color: inherit; /* цвет наследуется у родителя */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
